# The user that gets all the mails (UID < 1000, usually the admin)
root={{ getenv "SSMTP_root" }}

# The mail server (where the mail is sent to), both port 465 or 587 should be acceptable
# See also https://support.google.com/mail/answer/78799
mailhub={{ getenv "SSMTP_mailhub" }}

# The address where the mail appears to come from for user authentication.
rewriteDomain={{ getenv "SSMTP_rewriteDomain" }}

# The full hostname.  Must be correctly formed, fully qualified domain name or GMail will reject connection.
hostname={{ getenv "SSMTP_hostname" }}

# Use SSL/TLS before starting negotiation
UseTLS={{ getenv "SSMTP_UseTLS" }}
UseSTARTTLS={{ getenv "SSMTP_UseSTARTTLS" }}

# Username/Password
AuthUser={{ getenv "SSMTP_AuthUser" }}
AuthPass={{ getenv "SSMTP_AuthPass" }}
AuthMethod={{ getenv "SSMTP_AuthMethod" }}

# Email 'From header's can override the default domain?
FromLineOverride={{ getenv "SSMTP_FromLineOverride" }}
